// Colours

$green: rgb(0,183,128);
$black: rgb(25,25,25);
$grey: #666666;

// Fonts
$baseFont: 'Open Sans', sans-serif;
$headingFont: 'Raleway', sans-serif;

// Paragraph font Sizes
$small: 11px;
$normal: 14px;
$large: 20px;

// image path 
// $heroPath: url("assets/images/header/hero.jpg");
